<div class="content">

    <app-button></app-button>
    <!-- Hello World Intro Section -->
    <table class="center">
        <tr>
          <th>
              <h1>Hello World! I am Tiffany</h1>
              <hr class="light-hr">
              <p>This site is currently still under construction but feel free to explore it as I am updating! Currently I am an Angular Developer for an Automotive Company. </p>
          </th>
        </tr>
        <tr>
          <td>
            <img src="\assets\images\mypic.jpg" alt="Tiffany" width="200" height="200">
          </td>
        </tr>
      </table>
      <!-- End of Hello World Intro Section -->

      

</div>
